body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fdf2f8; 
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #ec4899; 
    color: white;
    text-align: center;
    padding: 30px 20px;
}

header h1 {
    margin: 0;
    font-size: 32px;
}

header h2 {
    margin-top: 10px;
    font-weight: normal;
    font-size: 18px;
}

main {
    padding: 30px;
    max-width: 900px;
    margin: auto;
}


p {
    font-size: 16px;
    line-height: 1.6;
}


h3 {
    color: #ec4899;
    margin-top: 30px;
}

ul {
    margin-top: 15px;
    padding-left: 20px;
}

ul li {
    margin-bottom: 8px;
}


img {
    display: block;
    width: 300px;
    margin: 30px auto;
    border-radius: 15px;
}


a {
    color: #db2777;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #fbcfe8;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    font-size: 14px;
}